<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center my-4">Search for Weather:</h3>
      <form class="form-group" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <input name="first" ngModel required #first="ngModel">
        <button class="btn btn-success btn-md">Submit</button>
      </form>
    </div>
    <div class="col-md-6" *ngIf=weather class="card" class="size1" class="mt-5">
      <div class="card-header">
        <h3 class="text-center my-4">Weather Details:</h3>
      </div>
      <div class="card-body">
        <!-- <div style="width:150px" style="color:{{colour}}"  class="text-center">
              <span class="fa fa-star"></span>
          </div> -->
        <p class="text-center">
          Location Searched: {{ weather.name }}
        </p>
        <p class="text-center">
          Current temperature:
          {{weather.main.temp}}
        </p>
        <p class="text-center">
          Temperature you feel:
          {{weather.main.feels_like}}
        </p>
        <!-- <a class='nav-link' routerLinkActive='active' [routerLink]="['/weather-comparison']">Compare</a> -->

        <button class="btn btn-success btn-block" [routerLink]="['/home',place]">Compare</button>
      </div>
    </div>
  </div>
</div>